body {
	font-family: 'Open Sans', sans-serif;
}

header {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.logo {
	color: grey;
}
.logo p {
	width: 75%;
}
.logo li {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}
/* First level navigation */
nav {
	text-align: center;
	font-size: 17px;
	margin-top: 15px;
	border-bottom: 2px solid #2CBCD6;
}
nav > ul > li {
	display: inline-block;
	margin-right: 5px;
}
nav > ul > li > a {
	padding: 15px;
	text-decoration: none;
	color: #2CBCD6;
	display: block;
}
nav > ul > li:hover > a {
	background-color: #2CBCD6;
	color: white;
}
nav > ul > li:hover .container {
	display: block;
}
/* Second level navigation */
.container {
	position: absolute;
	width: 100%;
	left: 0;
	background-color: #2CBCD6;
	color: white;
	display: none;
}
.container > div {
	width: 50%;
	float: left;
}
.container a {
	color: white;
	padding: 5px;
	display: block;
	text-decoration: none;
}
.container h2 {
	font-family: 'Open Sans', sans-serif;
	color: #AFDEFA;
	padding-top: 30px;
	padding-bottom: 20px;
}