/** {
	box-sizing: border-box;
}
.clearfix {
	content: '';
	display: table;
	clear: both;
}*/
body {
	background-color: #f0f0f0;
}
.pull-right a {
	color: #b85a6b;
}
.pull-right ul, li {
	padding: 0 10px;
	list-style: none;
	display: inline-block;
	margin-top: 15px;
}
h2 {
	font-size: 1.5em;
	padding-bottom: 10px;
	border-bottom: 3px solid #f25d55;
	color: #f25d55;
}
h2 span {
	color: #472536;
}
.mocai img {
	width: 100%;
}
.carousel-inner img {
	width: 100%;
}
.mocai h3 {
	border-bottom: 2px solid #f25d55;
	text-align: center;
	color: #f25d55;
	padding-bottom: 10px;
}
.mocai p {
	text-align: center;
}
.mocai1 {
	background-color: white;
	padding: 10px;
}
i {
	color: #f25d55;
}
video {
	width: 100%;
}
footer {
	background-color: #472536;
	color: white;
	text-align: center;
}
footer a {
	color: white;
}
footer ul {
	padding: 0;
}

.fa {
	font-size: 40px;
	margin: 0 40px;
}
.icon {
	text-align: center;
}
@media (max-width: 767px) {
	.container {
		width: 100%;
		margin: 0 auto;
	}
	.mocai1 {
		margin-bottom: 15px;
	}
	.icon a {
		display: block;
	}

	.container ul li {
		display: block;
	}
}
.fpading {
	padding: 20px 0;
}